@tailwind base;
@tailwind components;
@tailwind utilities;

.profilePic{
    background-image: url(../icons/Profile.jpg);
    background-size: cover;
    background-position: center;
}

.profilePic2{
    background-image: url(../icons/Profile2.jpg);
    background-size: cover;
    background-position: center;
}

.project1{
    background-image: url(../icons/Project1.jpeg);
    background-size: cover;
    background-position: center;
}

.project2{
    background-image: url(../icons/Project2.jpeg);
    background-size: cover;
    background-position: center;
}

.project3{
    background-image: url(../icons/Project3.jpeg);
    background-size: cover;
    background-position: center;
}

.project4{
    background-image: url(../icons/Project4.jpeg);
    background-size: cover;
    background-position: center;
}

.carousel .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.carousel .slide img {
    max-width: 100%;
    height: auto;
}

.min-h-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .w-full {
    width: 100%; /* Ajusta el ancho del contenedor a la anchura de la pantalla */
  }
  
  .max-w-2xl {
    max-width: 80%; /* Ajusta el ancho máximo del contenedor a un 80% de la anchura de la pantalla */
  }
  
  .px-4 {
    padding: 2rem; /* Ajusta el padding horizontal a 2rem */
  }
  
  .py-8 {
    padding: 4rem; /* Ajusta el padding vertical a 4rem */
  }
  
  .profilePic {
    height: 300px; /* Ajusta la altura de la imagen de perfil a 300px */
    width: 300px; /* Ajusta el ancho de la imagen de perfil a 300px */
    border-radius: 10px; /* Ajusta el radio de la esquina de la imagen de perfil a 10px */
    margin: 2rem; /* Ajusta el margen de la imagen de perfil a 2rem */
  }
  
  .text-5xl {
    font-size: 3rem; /* Ajusta el tamaño de la fuente del título a 3rem */
  }
  
  .text-xl {
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente del texto a 1.5rem */
  }

  .logo2{
    margin-top: 10px;
    background-image: url(../icons/Logo.svg);
    background-size: cover;
    background-position: center;
  }
  
  .text-xl {
    margin-top: 10px;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C7A77D;
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .nav-links.show {
    opacity: 1;
    visibility: visible;
  }
  
  @media (min-width: 768px) {
    .nav-links {
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      padding: 0;
      opacity: 1;
      visibility: visible;
    }
  
    .nav-links li {
      margin: 0 10px;
    }
  }

  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #C7A77D;
    padding: 20px;
    border: none;
  }
  
  main {
    padding: 20px;
    border: none;
  }
  
  footer {
    background-color: #C7A77D;
    padding: 20px;
    text-align: center;
  }

  @media (max-width: 480px) {
    body {
      font-size: 16px;
    }
  
    main {
      grid-template-columns: 1fr; /* Una sola columna para dispositivos móviles */
    }
  
    .hide-on-mobile {
      display: none; /* Ocultar elementos en dispositivos móviles */
    }
  }

  


